h1{
	text-decoration: bold;
	font-family: arial, sans-serif;

}
p {
	background-color: #551666;
	font-family: courier,monospace;
	color: #a15ab8;
	font-weight: 800;
	line-height: 20px;
	letter-spacing: 3px;
	text-decoration:none
;
	word-spacing: 6px;


	
}
body{
	background-color: #0030ff;
	font-family: 'Raleway', sans-serif; 
	text-decoration:underline;
}
h2{
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	text-align: center;

}

body {
	background-image: url("hearts.jpg");
}
